/* Fonts and other settings for whole website */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}




/* Header styles starts here */
.container{
    display: flex;
    height: 87px;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}
.nav-menu{
    display: flex;
    gap: 25px;

}
.website-name{
    font-size: 24px;
    font-weight: 700;
}
.nav-menu > li{
    list-style: none;
}
.nav-menu > li > a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}



.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px 100px;

}
.intro:hover img{
    transform: scale(.90) rotate(5deg);
    transition: transform 1s ease-in-out;
}
.left-intro{
    width: auto;
}
.left-intro h1{
    font-size: 52px;
}

.left-intro > p{
    text-align: justify;
}
.right-intro-img{
    width: auto;
    padding-left: 20px;
    align-items: center;
    border-radius: 5px;
}
.click-button{
    padding:10px 24px;
    background: #E02C6D;
    border-radius: 41px;
    border-style: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.click-button:hover{
    background-color: #E02C6D;
    color: rgb(43, 37, 48);
    transition: .5s;
}

.fa-arrow-right{
    margin-left: 10px;
}
/* Header styles ends here */




/* Main styles starts here */

.collection-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

.item-section{
    display: grid;
    justify-content: center;
}

.all-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product{
    width: 260px;
    padding: 30px;
    margin: 0px;
    box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.20);
}
.product-img > img{
    width: 260px;
    height: 256px;
}

.product-title{
    font-size: 28px;
    font-weight: 500;
}

.product-detail h4{
    font-weight: 300;
}
.product-detail p{
    margin-bottom: 0px;
    color: rgb(120, 120, 133, 1);
    font-size: 14px;
    font-weight: bold;
}

.filled{
    color: goldenrod;
}

.empty{
    color: silver;
}

.see-more-link{
    display: flex;
    justify-content: flex-end;
    margin: 30px 5px;
}

.see-more-link a{
    text-decoration: none;
    color: #E02c6d;
    font-size: 16px;
    font-weight: 700;
}

.Extra-facilities{
    display: grid;
    justify-content: center;
}

.facilities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
}

.facilities-details{
    text-align: center;
}

.facilities-details > .icon-resizing{
    font-size: 50px;
    color: #E02C6D;
}
/* Main ends here */



/* Footer starts here */

.footer-design{
    background-color: rgba(10, 8, 38, 1);
    border-radius: 5px;

}

.footer-details{
    text-align: center;
    color: white;
    padding: 30px;
}
.footer-details p{
    font-size: 10px;
    font-weight: 300;
}

.footer-details > .social-icon{
    font-size: 20px;
    margin: 0 10px;
}
.footer-details a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
/* Footer ends here */




/* Mobile screen resize responsive media query */

@media only screen and (max-width: 688px) {
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:  0;
    }

    .nav-menu > li > a{
        display: none;
    }

    .website-name{
        font-size: 16px;
    }

    .intro{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin: 5px;
    }

    .left-intro{
        width: auto;
    }
    .left-intro h1{
        font-size: 28px;
    }

    .left-intro > p{
        text-align: center;
        width: auto;
        display: flex;
        justify-content: center;
        margin:20px;
    }

    .all-product{
        grid-template-columns: repeat(1, 1fr);
    }

    .facilities{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/* Tab screen resize responsive media query */

@media only screen and (min-width: 688px) and  (max-width: 992px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15% 0% 5%;
    }

    

    .website-name{
        font-size: 16px;
    }

    .intro{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin: 5px;
    }

    .left-intro{
        width: auto;
    }
    .left-intro h1{
        font-size: 28px;
    }

    .left-intro > p{
        text-align: center;
        width: auto;
        display: flex;
        justify-content: center;
        margin:20px;
    }

    .all-product{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

